# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Keep-alive
<ifModule mod_headers.c> Header set Connection keep-alive </ifModule>
