body {
	background: beige;
	background-image: url("wheat.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: beige;
}

.chocolate_stout {
	background-image: url("chocolate_stout.png");
	background-repeat: no-repeat;
	background-position:center;
	text-align: center;
	color: white;
}

.chocolate_table {
	border: 3px solid black;
	border-radius: 15px;
	padding: 3px;
	margin: auto;
	font-weight: bold;
	background: none;
}

table {
	border: 3px solid black;
	border-radius: 15px;
	padding: 3px;
	margin: auto;
	font-weight: bold;
	background: orange;
}

h1 {
	font-family: "American Typewriter", Zapfino, Tahoma, Verdana;
	font-weight: bold;
	text-align:center;
}

h3, h4 {
	font-family: "American Typewriter", Verdana;
	text-align: center;
}

img {
	border: solid black 3px;
	margin: auto;
	width: 600px;
	margin: 0 auto;
}

p {
	text-align: center;
	font-family: Verdana;
}

a:visited {
	color: #2b4a37;
}

a {
	font-weight: bold;
}

#recipe_table {
	text-align: center;
}


#witbier {
	width: 200px;
	border: solid black 2px;
}

footer {
	font-size: .7em;
}

@media screen and (max-width: 768px) {
    body {
    width: 100%;
	}
    p { font-size: 1.2em;
    }
}
 @media screen and (max-width: 600px) {
 	body {
 		width: 100%;
 	}
 	table {
 		width: 100%;
 		margin: auto;
 	}
 	p {
 		font-size: 1.2em;
 	}
 	li {
 		font-size: 1.2em;
 	}
 }