
########

h1 {
	font-family: Tahoma, Verdana;
	color: yellow;
}

h3 {
	color: #484848;
}

body {
	margin-left: 140px;
	margin-right: 140px;
	font-size: 18px;
	font-weight: bold;
}

p {
	font-family: Helvetica, Georgia;
}

section {
/*	color: lime;*/
}

.background {
/*	background-image: url("beer.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;*/
}
#first_paragraph {
	border: 5px solid #484848;
	border-radius: 15px;
	padding: 40px;
	margin: auto;
	background: none;
}

.other_paragraph {
	border: 3px solid #900000;
	border-radius: 10px;
	padding: 40px;
	margin: auto;
	background: none;
}



#sidebar{
	position: fixed;
	left: 0;
	right: 0;
	width: 100px;
	border: 3px solid #900000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}